
/*
  Import the common theme.
*/
@import "./_shared/scss/theme.scss";

/*
  If you need some CSS for any reason you can put it here.
*/

.content{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.images{
	width: 400px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

